[submodule "contracts/contracts-1-token-with-sanctions/lib/forge-std"]
	path = contracts/contracts-1-token-with-sanctions/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/contracts-1-token-with-sanctions/lib/openzeppelin-contracts"]
	path = contracts/contracts-1-token-with-sanctions/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/contracts-2-token-with-god-mode/lib/forge-std"]
	path = contracts/contracts-2-token-with-god-mode/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/contracts-2-token-with-god-mode/lib/openzeppelin-contracts"]
	path = contracts/contracts-2-token-with-god-mode/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/contracts-3-token-bonding-curve/lib/forge-std"]
	path = contracts/contracts-3-token-bonding-curve/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/contracts-3-token-bonding-curve/lib/openzeppelin-contracts"]
	path = contracts/contracts-3-token-bonding-curve/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
